section#userbanner
	.mt-5.text-center
		small.d-block.mb-1  A word from one of our players
		img.img-fluid(src="./img/userbanner/50buck.png")
		img.img-fluid.mt-2(src="./img/userbanner/getlogo.gif")
		a.small.d-block(href="https://tgstation13.org/phpBB/viewtopic.php?f=2&t=3371") How to get your banner up here
